*.egg-info
*.pyc
*.sqlite
.idea
.cache
tests/data_a/1/Cells.csv
tests/data_a/1/Cytoplasm.csv
tests/data_a/1/Nuclei.csv
tests/data_a/2/Cells.csv
tests/data_a/2/Cytoplasm.csv
tests/data_a/2/Nuclei.csv
doc/_build/
doc/_static/
doc/_templates/
doc_old/
cytominer_database/__pycache__/
tests/__pycache__/
.python-version
