*.egg-info
*.pyc
*.sqlite
.idea
__pycache__
build
dist
.cache
test/data/1/Cells.csv
test/data/1/Cytoplasm.csv
test/data/1/Nuclei.csv
test/data/2/Cells.csv
test/data/2/Cytoplasm.csv
test/data/2/Nuclei.csv
.DS_Store
.python-version
*.c
*.log
*.so
*~
