*.egg-info
*.sqlite
.idea
.cache
test/data_a/1/Cells.csv
test/data_a/1/Cytoplasm.csv
test/data_a/1/Nuclei.csv
test/data_a/2/Cells.csv
test/data_a/2/Cytoplasm.csv
test/data_a/2/Nuclei.csv
doc/_build/
doc/_static/
doc/_templates/
doc_old/
cytominer_database/__pycache__/
test/__pycache__/
cytominer_database/*.pyc
