--index-url https://pypi.python.org/simple/

--editable .

pytest>=3.2.2
sphinx>=1.6.4
sphinx_rtd_theme>=0.2.5b1
backports.tempfile>=1.0rc1
click>=6.7
configparser>=3.5.0
csvkit>=1.0.2
pandas>=0.20.3
